.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-left: 500px;
}
button{
    background-color: aquamarine;
    border-color: aquamarine;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    margin-left: 150px;
}
h1{
    padding-left: 150px;
}