<app-navbar></app-navbar>
<br>
<router-outlet></router-outlet>
<br>
<div class="container center" >

    <button type="button" (click)="getMovies()">SERVICES</button>
    
    <div>
        <br>
        <table>     

            <th *ngFor = "let header of headers">
                {{header}}
            </th>
                           
            <tr *ngFor="let movie of movies">
                <td>{{movie.ID}}</td>
                <td>{{movie.Title}}</td>
                <td>{{movie.Director}}</td>
                <td>{{movie.ReleaseDate}}</td>
            </tr>
        
        </table>
    </div>
  
  </div>








